<div class="container py-1"  *ngFor="let item of fillerAllProfile ">
    <!-- <h1 class="text-center">Popular Dishes</h1> -->
    <div class="row row-cols-1 g-4 py-2">
      <div class="col">
        <a [routerLink]="['single', item._id]" routerLinkActive="router-link-active" >
        <div class="card" >
          <div class="card-body" >
            <h5 class="card-title">{{item.firstname}}</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
              dignissimos accusantium amet similique velit iste.
            </p>
          </div>
          <div class="mb-5 d-flex justify-content-around">
            <!-- <h3>190$</h3>
            <button class="btn btn-primary">Buy Now</button> -->
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>