<footer>
    <div class="container">
        <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus beatae commodi hic in delectus illo perspiciatis, veritatis minus molestias culpa nam voluptas laboriosam ea quam quo sed porro natus quasi?.</p>
            <ul class="sci">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="sec quicklinks">
            <h2>Support</h2>
                <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="sec quicklinks">
            <h2>Shop</h2>
            <ul>
                
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Shoes</a></li>
            </ul>
        </div>
        <div class="sec_contact">
            <h2>Contact Us</h2>
            <ul class="info">
                <li>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <p><a href="tel:+917061667501">+91 7061667501</a></p>
                </li>
                <li>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <p><a href="mailto:mohitprasad7061@gmail.com">mohitprasad7061@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightText">
    <p>Copright ©2023 Startup India. All Rights Reserved.</p>
</div>