<!-- 
<a  
class="button"
     routerLink="/login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Startup</a>
     <a  
     class="button"
          routerLink="/register"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Register</a> -->
<!--    
<nav class="nav">
     <i class="uil uil-bars navOpenBtn"></i>
<a href="#" class="logo">coding lab</a>
<ul class="nav-links">
  <i class="uil uil-times navCloseBtn"></i>
  <li><a href="#">Home</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Product</a></li>
  <li><a  routerLink="/login">Startup</a></li>
  <li><a routerLink="/register">Startup Register</a></li>
</ul>
<i class="uil uil-search search-icon" id="searchIcon"></i>
<div class="search-box">
  <i class="uil uil-search search-icon"></i>
  <input type="text" placeholder="search here..."/>
</div>
  </nav> -->
  <div *ngIf="!authenticated">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
     <a class="navbar-brand" routerLink="home">AyushPortal</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active"  >
          <a
class="nav-link"
     routerLink="login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Login<span class="sr-only">(current)</span>
     </a>
         </li>
    
                   
         <!-- <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dropdown
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
         </li> -->
       </ul>
       <!-- <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form> -->
     </div>
   </nav>
  <router-outlet></router-outlet>
</div>
<div *ngIf="authenticated">
     <app-menubar ></app-menubar>

</div>
